@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black !important;
    margin: 0;
    /* Remover margens padrão */
}

img {
    transform: translate(30px, -5px) !important;
}

.central {
    position: relative;
    height: 100vh;
    background-image: url(../img/gym.jpg);
    background-size: 100% 100% !important;
    margin-top: 0.0% !important;
    padding: 13em !important;
}

#imc {
    color: aliceblue !important;
    text-align: center !important;
    transform: translate(-30px, +30px) !important;
}

/* The animation code */
@keyframes example {
    0% {
        color: red;
        left: 00px;
        top: 00px;
    }

    25% {
        color: yellow;
        left: 00px;
        top: 70px;
    }

    50% {
        color: blue;
        left: 00px;
        top: 0px;
    }

    75% {
        color: green;
        left: 00px;
        top: 70px;
    }

    100% {
        color: red;
        left: 00px;
        top: 00px;
    }
}

/* The element to apply the animation to */
#animacao {
    width: 300px;
    height: 300px;
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: 10s;
    animation-duration: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: 0;
    animation-direction: alternate;
}


label,
i,
h1 {
    transform: translate(30px, 70px) !important;
    color: aliceblue !important;
}

.cal {
    transform: translate(px, px) !important;
}

.resultado {
    color: #00b02c;
    width: 70%;
    transform: translate(25%, 46%) !important;
}

#nome {
    padding-top: 1.5rem !important;
}

#nome a {
    color: #008826 !important;
    display: flex !important;
    align-items: center;
    gap: 0.06rem !important;
    font-size: 0.875rem !important;
    text-decoration: none;
    transition: color 0.5s !important;
    transform: translate(103px, 170px) !important;
}

button,
input {
    color: aliceblue !important;
    height: 53px !important;
    width: 400px !important;
    padding: 10px !important;
    transform: translate(+40px, -0px) !important;
    background-color: #00b02c !important;
    border-width: 0cm;
    border-radius: 4.2px !important;
    transform: translate(36px, 80px) !important;
}

#peso {
    width: 20px;
}

input {
    content: '<i class="fa-solid fa-ruler"></i>';
    margin-bottom: 30px !important;
    display: flex !important;
    height: 59px !important;
    width: 26em !important;
    background-color: #888888 !important;
    border-width: 0cm;
    border-radius: 4.2px !important;
    transform: translate(30px, 70px) !important;
}

.ct {
    position: absolute;
    height: 600px !important;
    width: 515px !important;
    background-color: rgb(69, 69, 69) !important;
    border-style: solid !important;
    border-width: 0.1em !important;
    border-color: rgb(0, 0, 0) !important;
    border-radius: 0.5em !important;

    left: 50% !important;
    top: 50% !important;

    transform: translate(85px, -303px);
}

.input-box {
    display: flex;
    height: 0 !important;
    width: 83% !important;
    align-items: center;
    justify-content: space-between;
    background-color: #161616;
    padding: 2px;
    border-radius: 3px;
    margin-top: 1px;
    transform: translate(+34.2px, 35px) !important;
}

.box {
    display: flex !important;
    height: 0 !important;
    width: 83.2% !important;
    align-items: center;
    justify-content: space-between;
    background-color: #161616;
    padding: 2px;
    border-radius: 3px;
    margin-top: 1px;
    transform: translate(+32.5px, 175px) !important;
}

/* Media queries para tornar o layout responsivo em dispositivos de diferentes tamanhos */
@media only screen and (max-width: 768px) {

    #imc {
        transform: translate(1px, 20px) !important;
    }

    .calculator {
        display: none;
    }

    .input-box {
        transform: translate(+31.2px, 38px) !important;
    }

    .box {
        transform: translate(+31.2px, 175px) !important;
    }

    #nome {
        color: #00a028;
        transform: translate(-93px, -10px) !important;
    }

    .central {
        padding: 8em !important;
        /* Reduzir o espaçamento interno */
        
    }

    .nome {
        text-align: center;
    }

    button,
    input,
    label {
        max-width: 80%;
        /* Ajustar a largura para preencher a tela */
    }

    .ct {
        width: 50%;
        /* Ajustar a largura do container para preencher a tela */
        max-width: 310px;
        /* Limitar a largura máxima do container */
        left: 50%;
        top: 50%;
        transform: translate(-157px, -299px);
        /* Centralizar o elemento */
    }
}

/* Media queries para tornar o layout responsivo em dispositivos de diferentes tamanhos */

/* iPhone SE */
@media only screen and (min-width: 360px) and (max-width: 480px) {
    .resultado {
        transform: translate(26%, 40%) !important;
        height: 50%;
    }

    .input-box{
        transform: translate(13%, +580%) !important;
    }
    /* Adaptações para iPhone SE */
    /* Insira aqui suas adaptações */
}

/* iPhone XR */
@media only screen and (min-width: 321px) and (max-width: 414px) {
    /* Adaptações para iPhone XR */
    /* Insira aqui suas adaptações */
}

/* iPhone 12 Pro, iPhone 14 Pro Max */
@media only screen and (min-width: 375px) and (max-width: 428px) {
    /* Adaptações para iPhone 12 Pro e iPhone 14 Pro Max */
    /* Insira aqui suas adaptações */
}

/* Pixel 7 */
@media only screen and (min-width: 411px) and (max-width: 432px) {
    /* Adaptações para Pixel 7 */
    /* Insira aqui suas adaptações */
}

/* Samsung Galaxy S8+ */
@media only screen and (min-width: 360px) and (max-width: 480px) {
    /* Adaptações para Samsung Galaxy S8+ */
    /* Insira aqui suas adaptações */
}

/* Samsung Galaxy S20 Ultra */
@media only screen and (min-width: 360px) and (max-width: 480px) {
    /* Adaptações para Samsung Galaxy S20 Ultra */
    /* Insira aqui suas adaptações */
}

/* iPad Mini, iPad Air, iPad Pro */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .ct {
        width: 70%;
        /* Ajustar a largura do container para preencher a tela */
        max-width: 500px;
        /* Limitar a largura máxima do container */
        left: 70%;
        top: 60%;
        transform: translate(-244px, -299px);
        /* Centralizar o elemento */
    }

    .resultado {
        transform: translate(15%, 80%) !important;
    }

    #nome {
        transform: translate(-5%, 10%) !important;
    }

    #animacao {
        display: none;
    }
    /* Adaptações para iPad Mini, iPad Air, iPad Pro */
    /* Insira aqui suas adaptações */
}

/* Surface Duo */
@media only screen and (min-width: 540px) and (max-width: 720px) {
    .resultado {
        transform: translate(25%, +120%) !important;
        font-size: 60% !important;
    }
    /* Adaptações para Surface Duo */
    /* Insira aqui suas adaptações */
}

/* Galaxy Z Fold 5 */
@media only screen and (min-width: 360px) and (max-width: 480px) {
    /* Adaptações para Galaxy Z Fold 5 */
    /* Insira aqui suas adaptações */
}

/* Asus Zenbook Fold */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Adaptações para Asus Zenbook Fold */
    /* Insira aqui suas adaptações */
}

/* Samsung Galaxy A51/71 */
@media only screen and (min-width: 360px) and (max-width: 480px) {
    /* Adaptações para Samsung Galaxy A51/71 */
    /* Insira aqui suas adaptações */
}

/* Nest Hub */
@media only screen and (min-width: 600px) and (max-width: 960px) {
    /* Adaptações para Nest Hub */
    /* Insira aqui suas adaptações */
}

/* Nest Hub Max */
@media only screen and (min-width: 720px) and (max-width: 1280px) {
    .resultado {
        transform: translate(15%, 80%) !important;
    }
    /* Adaptações para Nest Hub Max */
    /* Insira aqui suas adaptações */
}
